<launch>
  <arg name="ns" default="/kulbu"/>

  <group ns="$(arg ns)">

    <!-- Adafruit 10dof L3GD20H+LSM303DLHC -->
    <node name="imu0" pkg="rtimulib_ros" type="rtimulib_ros"
          output="screen">
        <param name="calibration_file_path" value="$(find kulbu_hardware)/config" />
        <param name="calibration_file_name" value="imu0" />
        <param name="frame_id" value="imu_link" />
        <param name="topic_name" value="imu0/data" />
        <param name="update_rate" value="10" />
    </node>

    <!-- MPU-6150 -->
    <node name="imu1" pkg="rtimulib_ros" type="rtimulib_ros"
          output="screen">
        <param name="calibration_file_path" value="$(find kulbu_hardware)/config" />
        <param name="calibration_file_name" value="imu1" />
        <param name="frame_id" value="imu_link" />
        <param name="topic_name" value="imu1/data" />
        <param name="update_rate" value="10" />
    </node>

  </group>

</launch>
