<launch>
  <arg name="ns" default="/kulbu"/>

  <group ns="$(arg ns)">

    <rosparam file="$(find kulbu_hardware)/config/odroid_velocity.yaml" command="load" />

    <!-- Load hardware interface -->
    <node name="kulbu_hardware_interface" pkg="kulbu_hardware" type="kulbu_hardware_main"
          output="screen" />

  </group>

</launch>
